<%= form_with(model: farmer, local: true) do |form| %>
  <% if farmer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(farmer.errors.count, "error") %> prohibited this farmer from being saved:</h2>

      <ul>
      <% farmer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :serial %>
    <%= form.text_field :serial %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :year2011 %>
    <%= form.text_field :year2011 %>
  </div>

  <div class="field">
    <%= form.label :year2012 %>
    <%= form.text_field :year2012 %>
  </div>

  <div class="field">
    <%= form.label :year2013 %>
    <%= form.text_field :year2013 %>
  </div>

  <div class="field">
    <%= form.label :year2014 %>
    <%= form.text_field :year2014 %>
  </div>


  <div class="field">
    <%= form.label :working %>
    <%= form.text_field :working %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
