<table class=table>
  <thead>
    <tr>
      <th>id</th>
      <th>State</th>
      <th>Year2011</th>
      <th>Year2012</th>
      <th>Year2013</th>
      <th>Year2014</th>
      <th>Farmer's_Working</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farmers.each do |farmer| %>
      <tr>
        <td><%= farmer.serial %></td>
        <td><%= farmer.state %></td>
        <td><%= farmer.year2011 %></td>
        <td><%= farmer.year2012 %></td>
        <td><%= farmer.year2013 %></td>
        <td><%= farmer.year2014 %></td>
        <td><%= farmer.working %></td>
    <% end %>
  </tbody>
</table>
