<p id="notice"><%= notice %></p>

<p>
  <strong>Serial:</strong>
  <%= @farmer.serial %>
</p>

<p>
  <strong>State:</strong>
  <%= @farmer.state %>
</p>

<p>
  <strong>Year2011:</strong>
  <%= @farmer.year2011 %>
</p>

<p>
  <strong>Year2012:</strong>
  <%= @farmer.year2012 %>
</p>

<p>
  <strong>Year2013:</strong>
  <%= @farmer.year2013 %>
</p>

<p>
  <strong>Year2014:</strong>
  <%= @farmer.year2014 %>
</p>


<p>
  <strong>Working:</strong>
  <%= @farmer.working %>
</p>

<%= link_to 'Edit', edit_farmer_path(@farmer) %> |
<%= link_to 'Back', farmers_path %>
