<header>
  <nav class="navbar navbar-expand-md" >
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto">
  <%= link_to "Farmers Recipe", root_path, class: "nav-link" %>



    <li class="nav-item" >
      <% if user_signed_in? %>
        <%= link_to "Menu", products_path, class: "nav-link" %>
      <% else %>
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <% end %>
    </li>

    <li class="nav-item">
      <%= link_to "Recipes", cuisine_path, class: "nav-link" , class: "nav-link #{@home == 'cuisine' ? 'active' : ''}" %>
    </li>

    <%= form_tag products_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
    <% end %>
      
    <li class="nav-item">  
      <%= link_to "Advanced Search", new_search_path, class: "nav-link" %>
    </li>

    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Orders</a>
    </li>
      
    <ul class="nav navbar-nav navbar-right">
      <li class="active basket" >
        <%= render 'layouts/basket' %>
      </li>
    </ul>
   
      <!-- conditions are passed below where if user is signed in then they should only be able to view the sign out button -->
  <% if user_signed_in? %>
    <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
  <% else %>
  <li class="nav-item">
    <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
  </li> 

  <li class="nav-item">
   <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
  </li>
  <% end %>

  <li class="nav-item">
   <%= link_to "Profiles", profiles_path, class: "nav-link"  %>
  </li> 
  </ul>
  </div>
  </nav>
</header>